.GetSpeechButton{
    z-index: 999999;
    position: fixed;
    top: 12%;
    right: 0;
    margin: 0px;
    padding: 12px 15px 12px 20px;
    background: #008000b0;
    border-radius: 10px 0 0 10px;
    border: none;
    color: #000000ed;
    cursor: pointer;
}

.GetSpeechButton > i{
    font-size: large;
}

.GetSpeechButton:hover{
    scale: 1.2;
}

.GetSpeechButton.disabled {
   pointer-events: none;
   opacity: .65;
}


